* {
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-family-default;
  font-size: $font-size-default;
  box-sizing: border-box;
}

body {
  //width: 100%;
  background: url('/src/assets/images/background.jpg') no-repeat;
  background-size: cover;
}