* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family-default;
  font-size: $font-size-default;
  color: $color-pink-dark;
}

body {
  background: url('/src/assets/images/background.jpg') no-repeat;
  background-size: cover;
}

h1 {
  font-size: $font-size-h1;
  text-shadow: 0 0.3rem 0.3rem $color-main;
  margin: 0 auto;
}


