* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family-default;
  font-size: $font-size-default;
  color: $color-pink-dark;
  overflow-anchor: none;

 @include media-tablet1 {
    font-size: $font-size-tablet1;
  }
  @include media-tablet2 {
    font-size: $font-size-tablet2;
  }
  @include media-mobile1 {
    font-size: $font-size-mobile1;
  }
  @include media-mobile2 {
    font-size: $font-size-mobile2;
  }
  @include media-mobile3 {
    font-size: $font-size-mobile3;
  }
  @include media-mobile4 {
    font-size: $font-size-mobile4;
  }
  @include media-mobile5 {
    font-size: $font-size-mobile5;
  }
}

body {
  background: url('/src/assets/images/background.jpg') no-repeat;
  background-size: cover;
}

h1 {
  font-size: $font-size-h1;
  text-shadow: 0 0.3rem 0.3rem $color-main;
  margin: 0 auto;
  @include media-tablet1 {
    font-size: $font-size-tablet1-h1;
  }
  @include media-tablet2 {
    font-size: $font-size-tablet2-h1;
  }
  @include media-mobile1 {
    font-size: $font-size-mobile1-h1;
  }
  @include media-mobile2 {
    font-size: $font-size-mobile2-h1;
  }
  @include media-mobile3 {
    font-size: $font-size-mobile3-h1;
    //margin: 0;
  }
  @include media-mobile4 {
    font-size: $font-size-mobile4-h1;
  }

}

.hidden {
  opacity: 0;
}

.cover {
  display: none;
}


