$font-size-default: 10px;
$font-size-tablet1: 8px;
$font-size-tablet2: 7px;
$font-size-mobile1: 6px;
$font-size-mobile2: 6px;
$font-size-mobile3: 5px;
$font-size-mobile4: 4px;
$font-size-mobile5: 3px;

$font-size-menu: 3.3em;
$font-size-menu-big: 3.6rem;

$font-size-h1: 8rem;
$font-size-tablet1-h1: 7rem;
$font-size-tablet2-h1: 5.2rem;
$font-size-mobile1-h1: 5rem;
$font-size-mobile2-h1: 4.8rem;
$font-size-mobile3-h1: 4rem;
$font-size-mobile4-h1: 3rem;


$font-size-button-small: 2.3rem;
$font-size-button: 3.5rem;

$font-family-default: 'Pacifico', Verdana, cursive;
$font-family-card: sans-serif;

$color-main: #fff;
$color-main-darker: #f7e477;
$color-main-dark: #d6c358;

$color-blue: #16bdf5;
$color-blue-light: #6ed7fa;
$color-blue-light2: #34d18d;
$color-blue-extra-light: #3cfaa8;

$color-yellow: #f5f10c;

$color-pink: #db0b3f;
$color-pink-dark: #d10d44;

$color-green-extra-light: #22b576;
$color-green-light: #0cc734;
$color-green-dark: #045916;

$color-grey: #888;
$color-grey-dark: #333;

$width-menu: 30rem;
$width-menu-mobile: 21rem;

$tablet1-width: 1450px;
$tablet2-width: 1100px;
$mobile1-width: 865px;
$mobile2-width: 750px;
$mobile3-width: 735px;
$mobile4-width: 550px;
$mobile5-width: 410px;
