$font-size-default: 10px;
$font-size-menu: 3rem;
$font-size-menu-big: 3.3rem;
$font-size-h1: 8rem;
$font-size-button-small: 2.3rem;
$font-size-button: 3.5rem;

$font-family-default: 'Pacifico', Verdana, cursive;

$color-main: #fff;
$color-main-darker: #f7e477;
$color-main-dark: #d6c358;

$color-blue: #16bdf5;
$color-blue-light: #6ed7fa;
$color-blue-light2: #34d18d;
$color-blue-extra-light: #3cfaa8;

$color-yellow: #f5f10c;

$color-pink: #db0b3f;
$color-pink-dark: #d10d44;

$color-green-extra-light: #22b576;
$color-green-light: #0cc734;
$color-green-dark: #045916;

$color-grey: #888;
$color-grey-dark: #333;

$width-menu: 30rem;

