$font-size-default: 10px;
$font-family-default: 'Pacifico', Verdana, cursive;

$color-main: #fff;
$color-main-darker: #f7e477;
$color-blue: #16bdf5;
$color-yellow: #f5f10c;
$color-pink: #db0b3f;
$color-green-light: #0cc734;
$color-green-dark: #045916;