.button {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  outline: none;
  font-size: $font-size-button;
  background: rgb(22, 189, 245) radial-gradient(150% 100% at 50% 5px, rgba(255, 255, 255, .2), rgba(0, 0, 0, 0));
  box-shadow: inset rgba(0, 0, 0, .6) 0 -2px 5px, inset rgba(252, 255, 255, .7) 0 2px 5px, rgba(0, 0, 0, .8) 0 2px 5px -1px;

  &:hover {
    color: $color-blue-light2;
    background: rgb(15, 143, 186);
  }

  &:active {
    background: rgb(2, 182, 237);
    box-shadow: inset 0 0 5px 3px rgba(0, 0, 0, .8),
    inset rgba(0,0,0,.3) -5px -5px 8px 5px,
    inset rgba(255, 255, 255, .5) 5px 5px 8px 5px,
    1px 1px 1px rgba(255, 255, 255, .2),
    -2px -2px 5px rgba(0, 0, 0, .5);
  }
}

.start-game-button {
  padding: 0.2rem 1rem;
  color: $color-grey;
  text-shadow: 0 1px rgba(255, 255, 255, .2), 0 -1px rgba(0, 0, 0, .8);
  border-radius: 2rem;
  transition: .2s;
}

.repeat-button {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  padding: 0;

  & > img {
    margin: 1rem;
    width: 5rem;
    height: 5rem;
  }
}