a {
  text-decoration: none;
  color: $color-main;
  display: flex;

  padding: 0.6rem 3rem;

  & > img {
    background-image: url('/src/assets/icons/categories/actions.png');
    background-size: cover;
    width: 5rem;
    height: 5rem;
  }
}

.menu {
  border-radius: 0.3rem;
  background: linear-gradient(45deg, $color-blue, $color-yellow);
  width: $width-menu;
  height: 100vh;
  display: flex;
  visibility: visible;
  opacity: 1;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  transition: all 500ms ease-in-out;
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 9;

  &.active {
    top: 0;
  }

  ul {
    list-style-type: none;
    font-size: $font-size-menu;
    margin-top: 10rem;

    li {
      padding-left: 1rem;
      text-align: left;
      transition: font-size 0.3s ease;

      &:hover {
        font-size: $font-size-menu-big;
        color: $color-yellow;
      }

      &.active-page {
        color: $color-pink;
      }
    }
  }
}

.menu-toggle {
  position: relative;
  width: 4rem;
  height: 3.6rem;
  left: 8rem;
  top: 5rem;
  transition: all 300ms ease-in-out;
  z-index: 10;

  input {
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    cursor: pointer;

    &:checked {
      + span {
        background: transparent;
        left: 0;

        &:after {
          transform: rotate(45deg) translate(-1px, -12px);
          left: -7px;
          background: $color-pink;
        }

        &:before {
          transform: rotate(-45deg) translate(-4px, 16px);
          left: -0.7rem;
          background: $color-pink;
        }
      }
    }
  }

  span {
    position: absolute;
    width: 100%;
    height: 0.4rem;
    background: $color-pink;
    margin-top: 1rem;
    transition: all 0.2s;
    left: 0;

    &:before, &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.4rem;
      background: $color-yellow;
      top: -1.2rem;
      left: 0;
      transition: all 0.5s;
    }

    &:after {
      top: 1.2rem;
    }
  }
}


