.header {
  background: rgba(251, 251, 251, .5);

}

.menu-top {
  display: flex;
  align-items: center;
  margin: -2rem 0 0 $width-menu;
  @include media-mobile3 {
    margin-left: $width-menu-mobile;
  }
}

.start-game {
  display: flex;

  & > img {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
  }
}

.smiles {
  position: absolute;
  top: 14rem;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  flex-wrap: nowrap;
  padding: 0;
  z-index: 10;

  .smile {
    height: 5rem;
    width: 5rem;
    margin-right: 0.7rem;
  }
}
