.header {
  background: rgba(251, 251, 251, .5);

}
.menu-top {
  margin-top: -2rem;
  display: flex;
  align-items: center;
  margin-left: $width-menu;

}

.start-game {
  display: flex;
  &>img {
    width: 4rem;
    height: 4rem;
   margin: 1rem;
  }
}