.content {
  margin: 0 10rem;
}
.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.result-game {
  width: 70rem;
  height: auto;
  position: absolute;
  top: 15%;
  left: calc(50% - 35rem);
}

.show {
  animation: opacity 3s ease-in-out 2 alternate-reverse;
}

@keyframes opacity {
  100% {
    opacity: 0;
  }
  75% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.75;
  }
  0% {
    opacity: 1;
  }

}